.about {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px 50px;
    display: flex;
    flex-direction: column;
}

.about-collapses {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

.collapse {
      /* Important : Sur À Propos, les collapses sont plus larges (1024px) */
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;

    &-header {
            height: 52px; 
            padding: 0 15px;
            border-radius: 5px;

        h2 {
            font-size: 24px; 
            font-weight: 500;
        }
    }

    &-content {
            background-color: #f6f6f6;
            border-radius: 0 0 5px 5px;
        
          // On cible le texte à l'intérieur
        p, li {
            color: #000000;
            font-size: 24px;
            line-height: 140%;
        }
    }
}
}

/* 📱 MOBILE */
@media (max-width: 768px) {
    .about-collapses {
        gap: 20px;
        margin-top: 10px;

    .collapse {
        &-header {
            height: 30px; // Plus petit sur mobile
            h2 {
                font-size: 13px;
            }
        }
        &-content p, &-content li {
            font-size: 12px;
        }
    }
    }
}
