.rating {
    display: flex;
    gap: 10px;

    .star {
        width: 24px;
        height: 24px;

    &.filled {
        fill: #ff6060;
    }

    &.empty {
        fill: #e3e3e3; // Gris étoiles vides
    }
    }
}

  /* 📱 MOBILE */
@media (max-width: 768px) {
    .rating {
        gap: 5px;
        .star {
        width: 15px;
        height: 15px;
    }
    }
}