.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;            
  margin-top: 20px; // Un peu plus d'espace sous le lieu (location)
}

.tag {
  background-color: #ff6060;
  color: white;
  font-size: 14px; 
  font-weight: 500;
  height: 25px;
  min-width: 115px;
  padding: 0 15px;
  border-radius: 10px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

/* 📱 MOBILE */
@media screen and (max-width: 768px) {
  .tags-container {
      margin-top: 10px;
      gap: 5px;
  }

  .tag {
      font-size: 10px;
      height: 18px;
      min-width: 84px;
      border-radius: 5px;
      padding: 0 10px;
  }
}