.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.logement {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  /* —— HEADER —— */
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;

    h1 {
      color: #ff6060;
      font-size: 36px;
      font-weight: 500;
      margin: 0;
    }

    p {
      color: #ff6060;
      font-size: 18px;
      margin: 5px 0 20px 0;
    }
    .logement-location {
      color: #000000; // NOIR pour la localisation
      font-size: 18px;
      margin: 5px 0 20px 0;
    }
  }

  .host-rating {
    display: flex;
    flex-direction: column; // Host au dessus du Rating
    align-items: flex-end;
    justify-content: space-between;
    height: 100%; // Pour bien répartir si le titre à gauche est grand
    gap: 20px;
}
}

/* —— COLLAPSES —— */
.logement-collapses {
  display: flex;
  gap: 20px;
  margin: 30px 0;

  .collapse {
    flex: 1;
    margin: 0 !important;
  }
}

/*  RESPONSIVE  */
@media (max-width: 768px) {
  .logement-header {
    flex-direction: column;

    h1 { font-size: 18px; }
    p { font-size: 14px; }

    .host-rating {
      flex-direction: row-reverse; // Aligne Rating à gauche et Host à droite
      align-items: center; // Aligne les étoiles avec le centre de la photo du host
      justify-content: space-between;
      width: 100%;
      margin-top: 15px;
  }
  }

  .logement-collapses {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 10px;
  }
}