.about-banner {
    width: 100%;
    height: 223px;
    // max-width: 1200px;
    // max-height: 400px;
    overflow: hidden;
    margin-bottom: 25px;
    margin: 0 auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 20px;
    }

    // version mobile
    @media (max-width: 768px) {
      max-height: 250px;
    }
}
