.card {
  position: relative;
  height: 340px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  background-color: #ff6060;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }

  /* Dégradé noir bas */
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }

  h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    z-index: 1;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
  }

  &:hover img {
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    height: 255px;
  }
}
