.host {
    display: flex;
    align-items: center;
    gap: 10px;

    &-name {
        font-weight: 500;
        font-size: 18px;
        color: #ff6060;
        text-align: right;
        line-height: 1.2;
        width: min-content; // pour Forcer le retour à la ligne entre Prénom et Nom si besoin
    }

    &-picture {
        width: 64px; 
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        background-color: #E3E3E3;
    }
}

/* 📱 MOBILE */
@media (max-width: 768px) {
    .host {
            gap: 10px;
        &-name {
            font-size: 12px;
        }
        &-picture {
            width: 32px;
            height: 32px;
        }
    }
}