.host {
    display: flex;
    align-items: center;      
    justify-content: flex-end; 
    gap: 10px;
    margin-top: 10px;

    .host-name {
        font-weight: bold;
        font-size: 1rem;
      color: #ff6060; 
    }

    .host-picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}

  /* Responsive mobile */
@media (max-width: 768px) {
    .logement-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;              
    }

    .host {
      align-self: flex-end;    
    }

    .logement-info {
        width: 100%;
    }
}
