.collapse {
    width: 100%;
    // max-width: 1024px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
  
    &-header {
      background-color: #ff6060;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
  
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      border-radius: 10px;
  
      h2 {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
      }
    }
  
    &-arrow {
      font-size: 24px;
      transition: transform 0.3s ease;
    }
  
    &-arrow.open {
      transform: rotate(180deg);
    }
  
    &-content {
      background-color: #f6f6f6;
      color: #ff6060;
      padding: 15px;
      font-size: 16px;
  
      border-radius: 0 0 10px 10px;
  
      p {
        margin: 0;
        line-height: 1.6;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin-bottom: 5px;
        }
      }
    }
    
    &.open {
      .collapse-header {
        border-radius: 10px 10px 0 0;
      }
    }
  }
  