.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    padding: 30px 40px;
    background-color: #fff;
}

.header-logo {
    width: 150px;
}

.header-nav {
    display: flex;
    gap: 30px;
}

.header-nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    position: relative; // underline Active
    padding-bottom: 5px;
}

.header-nav a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
    }

    .header-nav {
        gap: 15px;
        margin-top: 10px;
    }
}
