// container Global
.container {
  max-width: 1240px; 
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; /* Cet espace  est identiqué pour le header, la banner, et le footer */
  width: 100%;
  box-sizing: border-box; /* Très important pour que le padding ne s'ajoute pas à la largeur */
}

.header {
    margin-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    

    &-logo {
        width: 210px;
        height: auto; 
        display: block;
        margin-top: 40px;
        margin-bottom: 30px;
        padding: 0 20px;

    }

    &-nav {
        display: flex;
        gap: 26px;
        padding: 0 20px;

        a {
            text-decoration: none;
            color: #000000;
            font-size: 24px;
            font-weight: 500;
            margin-top: 40px;
            margin-bottom: 30px;
            
            &.active {
                text-decoration: underline;
            }
        }
    }
}

/*  MOBILE (max-width: 768px) */
@media (max-width: 768px) {
    .header {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 20px;
          
    }

    .header-logo {
      width: 145px;
    }
  
    .header-nav {
      gap: 10px;

      a {
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none; 
      }
    }
}