.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}


.displayGallery {
    max-width: 1240px;
    margin: 30px auto;
    padding: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  
  /*  Tablette */
  @media (max-width: 1024px) {
    .displayGallery {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
  
  /*  Mobile */
  @media (max-width: 768px) {
    .displayGallery {
      grid-template-columns: 1fr;
      gap: 20px;
  
      padding: 0;
      background-color: transparent;
      margin: 20px auto;
    }
  }
  