.footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    text-align: center;
}

.footer-logo {
    width: 120px;
    margin-bottom: 15px;
}

.footer p {
    font-size: 14px;
    margin: 0;
}

  /* Responsive */

@media (max-width: 600px) {
    .footer {
        padding: 20px 10px;
    }

    .footer-logo {
        width: 100px;
    }

    .footer p {
        font-size: 12px;
    }
}
