.footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 30px; 
    text-align: center;
    margin-top: 50px; // Pour bien le détacher du contenu

    &-logo {
        width: 122px;
        height: auto;
        margin-bottom: 30px; // Plus d'espace entre logo et texte
    }

    p {
        font-size: 24px; 
        font-weight: 500;
        margin: 0;
    }
}

/* 📱 MOBILE */
@media (max-width: 768px) {
    .footer {
        padding: 60px 20px;
        
        &-logo {
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
            width: 133px;
            line-height: 1.2;
        }
    }
}