.error404 {
    /*  min-height pour centrer mais garde de la place pour le footer */
    min-height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ff6060; 

    h1 {
        font-size: 288px;
        font-weight: 700;
        margin: 0;
    }

    p {
        font-size: 36px;
        font-weight: 500;
        margin: 60px 0 130px 0;
    }

    a {
        font-size: 18px;
        color: #000000;
        text-decoration: underline;
        margin-bottom: 50px;
        
        &:hover {
            font-weight: 500; // Petit plus pour l'UX
        }
    }

    /* 📱 MOBILE */
    @media (max-width: 768px) {
        min-height: 60vh;
        
        h1 {
            font-size: 96px;
            margin-top: 50px;
        }

        p {
            font-size: 14px;
            margin: 15px 0 110px 0;
            padding: 0 50px; // Pour forcer le retour à la ligne sur mobile
            line-height: 1.3;
        }

        a {
            font-size: 14px;
        }
    }
}