* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 1.5;

}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

