.banner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 300px;
  overflow: hidden;
  border-radius: 35px;
  margin: 20px auto;
} 


  .banner-img {
    border-radius: 35px;
    padding: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;         
    
    
}

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 0 20px;
    opacity: 0;
    animation: fadeInText 1.5s ease forwards;
}


@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .banner {
    max-width: 100%;    
    height: 180px;          
    margin: 20px 10px;      
    border-radius: 20px;
  }

  .banner-text {
    font-size: 1.2rem;    
    max-width: 90%;        
  }
}

